.header {
    background-color: #181818;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between; /* Keeps first and last items at edges */
    align-items: center;
}

.nav-links {
    display: flex;
    flex-grow: 1; /* Allows the nav to take full width */
    justify-content: space-between; /* Spreads links evenly */
    list-style: none;
    padding: 0;
    margin: 0 20px; /* Adds spacing between logo and nav */
}

.nav-links li {
    margin: 0 100px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
